@import url("defaults.css");

.ibm {
  display: inline-block;
  vertical-align: middle;
}

.img-arrow {
  margin-right: 1rem;
}

.dropdown-option {/* margin-bottom: 0.3rem; */padding: 0.3rem 0.6rem;}
.dropdown-option:hover {background-color: #ebfdfd;}

.header-title {display: inline-block;font-size: 2.3rem;font-family: "Avenir";color: #8c8c8c;font-weight: 400;vertical-align: middle;}

.header-tab-count {
  color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

.input {border: 1px solid #b1b1b1;border-radius: 1.2px;padding: .25rem 0.4rem;width: 4rem;display: block;}


.input::before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  right: 0.2rem;
  top: 0.25rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #969696;
}

.input::after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  bottom: 0.25rem;
  right: 0.2rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #969696;
}

.option-safe-tabs {margin-top: 8rem;}

.option-value {
  width: 2.4rem;
}

.option-dropdown {
  display: none;
  background-color: #fff;
  border: 1px solid #bbb;
  list-style: none;
  position: absolute;
  right: 0;
  top: 1.45rem;
  z-index: 8000;
}

.overflow-header {/* border-bottom: 1px dashed #d8d8d8; */display: flex;justify-content: space-between;margin-bottom: 1rem;}

.overflow-list {list-style: none;/* display: flex; *//* flex-direction: column; */}

.overflow-item {cursor: pointer;margin-bottom: 0.3rem;padding-left: 1rem;left: -1rem;display: inline-block;}
/*.overflow-item:hover::before {

}*/


.overflow-item-close-btn {
  color: #a0a0a0;
  display: none;
  font-size: 1.1rem;
  font-weight: 300;
  position: absolute;
  line-height: 0.9rem;
  z-index: 8000;
  transform: translateY(-50%);
  top: 50%;
  left: 0rem;
  width: 1rem;
  height: 1rem;
}

.overflow-item:hover .overflow-item-close-btn {
  display: block;
}

.item-img {vertical-align: middle;display: inline-block;margin-right: 0.4rem;width: 1.5rem;}

.item-text {
  color: #5689c1;
  vertical-align: middle;
  display: inline-block;
  font-size: 1rem;
}

.select {cursor: pointer;display: inline-block;margin-right: 1rem;}

.select:hover .dropdown {
  display: block;
}


.sort-container {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.sort-label {

}

.sort-checkbox {

}

.sort-checkbox-label {

}

.sort-dropdown {
  display: none;
  background-color: #fff;
  border: 1px solid #bbb;
  list-style: none;
  position: absolute;
  right: 0;
  top: 1.45rem;
  z-index: 8000;
}

/*.sort-option:last-child {margin: 0;}*/

.sort-value {
  width: 4rem;
}

.ji {
  /* top: -15px; */
}
